.kotak{
	text-align: center;
	margin:2%;
	

	color : white;
	font-weight:bold;
	background-color:white;
}
.kotak img{
	background-size:cover;
	border-radius:0px;
	height: 150px;
	width: 100%;
}

.isi{
	background-color : white;
}

.isi .tren {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:3%;
	font-size:25px;
}
.label_txt{
	font-weight:bold;
	color:white;
	background-color:black;
	height:80px;
	padding:4%;
}

