.footer{
	background-color : #2D2D2D;
	font-size : 15px;
}
			
.footer h5{
	color : white;
	font-weight:bold;
}
.atas{
	
	margin-left : 6%;
	margin-top : 2%;
	margin-bottom:3%;
	color : white;
	font-weight:bold;
	}
			